<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin/styleLogin.css}">
    <!-- Favicon -->
    <link href="/../../img/e77e3572384e5c9af495d1acfbfa6f70.jpg" rel="icon">
    <title>Lấy Lại Mật Khẩu| BeeStore</title>
</head>

<body>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">

                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <p>  Chào mừng đến với BeeStore!</p>

                                        <h4 class="mb-4 pb-3">Đặt Lại Mật Khẩu</h4>
                                        <div class="form-group">
                                            <input
                                                    type="email"
                                                    name="logemail"
                                                    class="form-style"
                                                    placeholder="Email hoặc Số Điện Thoại của bạn"
                                                    id="logemail"
                                                    autocomplete="off"
                                            />
                                            <i class="input-icon uil uil-at"></i>
                                        </div>

                                        <a href="" class="btn mt-4">Xác Nhận</a>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

</body>

</html>